$calendar-weekly-weekday-padding: 0px;
$calendar-weekly-weekday-font-size: 9px;
$calendar-weekly-weekday-label-size: 9px;
$calendar-weekly-weekday-label-font-size: 9px;
$calendar-event-font-size: 5px;
$calendar-weekly-day-padding: -20px;
$calendar-weekly-weeknumber-flex-basis:10px;
$time-picker-ampm-padding: 0px;
$data-table-expanded-content-box-shadow: none;
// $chip-icon-right-margin-after: 0;
// $chip-icon-right-margin-before: 0;