@font-face {
    font-family: iransans-light;
    font-style: normal;
    font-weight: normal;
    src: url("./webfonts/IRANSansWeb.eot");
    src: url("./webfonts/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("./webfonts/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
    font-family: iransans-ulight;
    font-style: normal;
    font-weight: normal;
    src: url("./webfonts/IRANSansWeb_UltraLight.eot");
    src: url("./webfonts/IRANSansWeb_UltraLight.eot#iefix") format("embedded-opentype"), url("./webfonts/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
    font-family: iransans-medium;
    font-style: normal;
    font-weight: normal;
    src: url("./webfonts/IRANSansWeb_Medium.eot");
    src: url("./webfonts/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("./webfonts/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
    font-family: iransans-bold;
    font-style: normal;
    font-weight: normal;
    src: url("./webfonts/IRANSansWeb_Bold.eot");
    src: url("./webfonts/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("./webfonts/IRANSansWeb_Bold.ttf") format("truetype");
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'iransans-medium';
    list-style: none;
    font-size: 12px;
}

.font-xs {
    font-size: 8px !important;
}

.font-sm {
    font-size: 10px !important;
}

.font-md {
    font-size: 12px !important;
}

.font-lg {
    font-size: 14px !important;
}

.font-xl {
    font-size: 16px !important;
}

.font-header {
    font-size: 18px !important;
}

.font-h1 {
    font-size: 40px !important;
}

.line-height1 {
    line-height: 1 !important;
}

.line-height1-5 {
    line-height: 1.5 !important;
}

.line-height2 {
    line-height: 2 !important;
}

.line-height3 {
    line-height: 3 !important;
}

.line-height3-5 {
    line-height: 3.5 !important;
}

.line-height4 {
    line-height: 4 !important;
}